[submodule "usr/share/git-flow/bin"]
	path = usr/share/git-flow/bin
	url = git://github.com/trivoallan/gitflow.git
[submodule "usr/share/git-utils/bin"]
	path = usr/share/git-utils/bin
	url = git://github.com/hartym/git-utils.git
[submodule "usr/share/vim/snipmate"]
	path = usr/share/vim/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "usr/share/vim/git"]
	path = usr/share/vim/git
	url = git://github.com/motemen/git-vim.git
