[submodule "usr/share/git-flow/bin"]
	path = usr/share/git-flow/bin
	url = git://github.com/trivoallan/gitflow.git
[submodule "usr/share/git-utils/bin"]
	path = usr/share/git-utils/bin
	url = git://github.com/hartym/git-utils.git
[submodule "usr/share/vim/snipmate"]
	path = usr/share/vim/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "usr/share/vim/git"]
	path = usr/share/vim/git
	url = git://github.com/motemen/git-vim.git
[submodule "usr/share/git-hg"]
	path = usr/share/git-hg
	url = https://github.com/offbytwo/git-hg.git
[submodule "usr/share/vim/sparkup"]
	path = usr/share/vim/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "usr/share/vim/nerdtree"]
	path = usr/share/vim/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "usr/share/vim/nerdtree-tabs"]
	path = usr/share/vim/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "usr/share/git-ps1"]
	path = usr/share/git-ps1
	url = https://github.com/hartym/git-ps1
[submodule "usr/share/vim/zencoding"]
	path = usr/share/vim/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "usr/share/vim/puppet-syntax"]
	path = usr/share/vim/puppet-syntax
	url = git@github.com:puppetlabs/puppet-syntax-vim.git
[submodule "usr/share/vim/golang"]
	path = usr/share/vim/golang
	url = git@github.com:jnwhiteh/vim-golang.git
[submodule "usr/share/z"]
	path = usr/share/z
	url = https://github.com/rupa/z.git
